In [30]:
import pandas as pd
import os

# Define file paths
path1 = '../mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/'
path2 = '../mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/'

# List of all unique filenames across both directories
all_files = [
    'dailyActivity_merged.csv',
    'heartrate_seconds_merged.csv',
    'hourlyCalories_merged.csv',
    'hourlyIntensities_merged.csv',
    'hourlySteps_merged.csv',
    'minuteCaloriesNarrow_merged.csv',
    'minuteCaloriesWide_merged.csv',
    'minuteIntensitiesNarrow_merged.csv',
    'minuteIntensitiesWide_merged.csv',
    'minuteMETsNarrow_merged.csv',
    'minuteSleep_merged.csv',
    'minuteStepsNarrow_merged.csv',
    'minuteStepsWide_merged.csv',
    'sleepDay_merged.csv',
    'weightLogInfo_merged.csv'
]

# Dictionary to store clean dataframes
data = {}

for filename in all_files:
    file_path1 = os.path.join(path1, filename)
    file_path2 = os.path.join(path2, filename)
    
    df_list = []
    
    # Check and load from first directory
    if os.path.exists(file_path1):
        df_list.append(pd.read_csv(file_path1))
        
    # Check and load from second directory
    if os.path.exists(file_path2):
        df_list.append(pd.read_csv(file_path2))
    
    # Merge if data exists
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        
        # Create clean name (remove _merged.csv)
        clean_name = filename.replace('_merged.csv', '')
        data[clean_name] = combined_df
        
        print(f"Loaded {clean_name}: {combined_df.shape}")
    else:
        print(f"Warning: {filename} not found in either directory.")

# Clean up keys for easier access (optional: create individual variables)
# locals().update(data) # Uncomment to create variables like dailyActivity, heartrate_seconds etc.

print("\nAll files loaded successfully into 'data' dictionary.")

Loaded dailyActivity: (1397, 15)
Loaded heartrate_seconds: (3638339, 3)
Loaded hourlyCalories: (46183, 3)
Loaded hourlyIntensities: (46183, 4)
Loaded hourlySteps: (46183, 3)
Loaded minuteCaloriesNarrow: (2770620, 3)
Loaded minuteCaloriesWide: (21645, 62)
Loaded minuteIntensitiesNarrow: (2770620, 3)
Loaded minuteIntensitiesWide: (21645, 62)
Loaded minuteMETsNarrow: (2770620, 3)
Loaded minuteSleep: (387080, 4)
Loaded minuteStepsNarrow: (2770620, 3)
Loaded minuteStepsWide: (21645, 62)
Loaded sleepDay: (413, 5)
Loaded weightLogInfo: (100, 8)

All files loaded successfully into 'data' dictionary.

In [31]:
daily_activity = data['dailyActivity']
daily_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 0 to 1396
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1397 non-null   int64
 1   ActivityDate              1397 non-null   object
 2   TotalSteps                1397 non-null   int64
 3   TotalDistance             1397 non-null   float64
 4   TrackerDistance           1397 non-null   float64
 5   LoggedActivitiesDistance  1397 non-null   float64
 6   VeryActiveDistance        1397 non-null   float64
 7   ModeratelyActiveDistance  1397 non-null   float64
 8   LightActiveDistance       1397 non-null   float64
 9   SedentaryActiveDistance   1397 non-null   float64
 10  VeryActiveMinutes         1397 non-null   int64
 11  FairlyActiveMinutes       1397 non-null   int64
 12  LightlyActiveMinutes      1397 non-null   int64
 13  SedentaryMinutes          1397 non-null   int64
 14  Calories                  1397 non-null   int64
dtypes: float64(7), int64(7), object(1)
memory usage: 163.8+ KB

In [32]:
import re
import pandas as pd

def to_snake_case(name):
    s1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    return re.sub('([a-z0-9])([A-Z])', r'\1_\2', s1).lower()


for col in daily_activity.columns:
    daily_activity.rename(columns={col: to_snake_case(col)}, inplace=True)

In [33]:
daily_activity.describe

<bound method NDFrame.describe of               id activity_date  total_steps  total_distance  tracker_distance  \
0     1503960366     3/25/2016        11004        7.110000          7.110000
1     1503960366     3/26/2016        17609       11.550000         11.550000
2     1503960366     3/27/2016        12736        8.530000          8.530000
3     1503960366     3/28/2016        13231        8.930000          8.930000
4     1503960366     3/29/2016        12041        7.850000          7.850000
...          ...           ...          ...             ...               ...
1392  8877689391      5/8/2016        10686        8.110000          8.110000
1393  8877689391      5/9/2016        20226       18.250000         18.250000
1394  8877689391     5/10/2016        10733        8.150000          8.150000
1395  8877689391     5/11/2016        21420       19.559999         19.559999
1396  8877689391     5/12/2016         8064        6.120000          6.120000

      logged_activities_distance  very_active_distance  \
0                            0.0                  2.57
1                            0.0                  6.92
2                            0.0                  4.66
3                            0.0                  3.19
4                            0.0                  2.16
...                          ...                   ...
1392                         0.0                  1.08
1393                         0.0                 11.10
1394                         0.0                  1.35
1395                         0.0                 13.22
1396                         0.0                  1.82

      moderately_active_distance  light_active_distance  \
0                           0.46                   4.07
1                           0.73                   3.91
2                           0.16                   3.71
3                           0.79                   4.95
4                           1.09                   4.61
...                          ...                    ...
1392                        0.20                   6.80
1393                        0.80                   6.24
1394                        0.46                   6.28
1395                        0.41                   5.89
1396                        0.04                   4.25

      sedentary_active_distance  very_active_minutes  fairly_active_minutes  \
0                          0.00                   33                     12
1                          0.00                   89                     17
2                          0.00                   56                      5
3                          0.00                   39                     20
4                          0.00                   28                     28
...                         ...                  ...                    ...
1392                       0.00                   17                      4
1393                       0.05                   73                     19
1394                       0.00                   18                     11
1395                       0.00                   88                     12
1396                       0.00                   23                      1

      lightly_active_minutes  sedentary_minutes  calories
0                        205                804      1819
1                        274                588      2154
2                        268                605      1944
3                        224               1080      1932
4                        243                763      1886
...                      ...                ...       ...
1392                     245               1174      2847
1393                     217               1131      3710
1394                     224               1187      2832
1395                     213               1127      3832
1396                     137                770      1849

[1397 rows x 15 columns]>

In [35]:
import dtale

In [36]:
d = dtale.show(daily_activity)
d.open_browser()

In [41]:
heart_rate_seconds= data['heartrate_seconds']
heart_rate_seconds.head()

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

In [43]:
for x in data.keys():
    print(x)
    print("\n")
    print(data[x].head())

dailyActivity


           id activity_date  total_steps  total_distance  tracker_distance  \
0  1503960366     3/25/2016        11004            7.11              7.11
1  1503960366     3/26/2016        17609           11.55             11.55
2  1503960366     3/27/2016        12736            8.53              8.53
3  1503960366     3/28/2016        13231            8.93              8.93
4  1503960366     3/29/2016        12041            7.85              7.85

   logged_activities_distance  very_active_distance  \
0                         0.0                  2.57
1                         0.0                  6.92
2                         0.0                  4.66
3                         0.0                  3.19
4                         0.0                  2.16

   moderately_active_distance  light_active_distance  \
0                        0.46                   4.07
1                        0.73                   3.91
2                        0.16                   3.71
3                        0.79                   4.95
4                        1.09                   4.61

   sedentary_active_distance  very_active_minutes  fairly_active_minutes  \
0                        0.0                   33                     12
1                        0.0                   89                     17
2                        0.0                   56                      5
3                        0.0                   39                     20
4                        0.0                   28                     28

   lightly_active_minutes  sedentary_minutes  calories
0                     205                804      1819
1                     274                588      2154
2                     268                605      1944
3                     224               1080      1932
4                     243                763      1886
heartrate_seconds


           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100
hourlyCalories


           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48
hourlyIntensities


           Id           ActivityHour  TotalIntensity  AverageIntensity
0  1503960366  3/12/2016 12:00:00 AM               0               0.0
1  1503960366   3/12/2016 1:00:00 AM               0               0.0
2  1503960366   3/12/2016 2:00:00 AM               0               0.0
3  1503960366   3/12/2016 3:00:00 AM               0               0.0
4  1503960366   3/12/2016 4:00:00 AM               0               0.0
hourlySteps


           Id           ActivityHour  StepTotal
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366   3/12/2016 1:00:00 AM          0
2  1503960366   3/12/2016 2:00:00 AM          0
3  1503960366   3/12/2016 3:00:00 AM          0
4  1503960366   3/12/2016 4:00:00 AM          0
minuteCaloriesNarrow


           Id         ActivityMinute  Calories
0  1503960366  3/12/2016 12:00:00 AM    0.7973
1  1503960366  3/12/2016 12:01:00 AM    0.7973
2  1503960366  3/12/2016 12:02:00 AM    0.7973
3  1503960366  3/12/2016 12:03:00 AM    0.7973
4  1503960366  3/12/2016 12:04:00 AM    0.7973
minuteCaloriesWide


           Id           ActivityHour  Calories00  Calories01  Calories02  \
0  1503960366  4/13/2016 12:00:00 AM      1.8876      2.2022      0.9438
1  1503960366   4/13/2016 1:00:00 AM      0.7865      0.7865      0.7865
2  1503960366   4/13/2016 2:00:00 AM      0.7865      0.7865      0.7865
3  1503960366   4/13/2016 3:00:00 AM      0.7865      0.7865      0.7865
4  1503960366   4/13/2016 4:00:00 AM      0.7865      0.7865      0.7865

   Calories03  Calories04  Calories05  Calories06  Calories07  ...  \
0      0.9438      0.9438      2.0449      0.9438      2.2022  ...
1      0.7865      0.9438      0.9438      0.9438      0.7865  ...
2      0.7865      0.7865      0.7865      0.7865      0.7865  ...
3      0.7865      0.7865      0.7865      0.7865      0.7865  ...
4      0.7865      0.7865      0.7865      0.7865      0.7865  ...

   Calories50  Calories51  Calories52  Calories53  Calories54  Calories55  \
0      0.9438      2.0449      2.0449      0.9438      2.3595      1.8876
1      0.7865      0.7865      0.7865      0.7865      0.7865      0.7865
2      0.7865      0.7865      0.7865      0.7865      0.7865      0.7865
3      0.7865      0.7865      0.7865      0.7865      0.7865      0.7865
4      0.7865      0.7865      0.7865      0.7865      0.7865      0.7865

   Calories56  Calories57  Calories58  Calories59
0      0.9438      0.9438      0.9438      0.9438
1      0.7865      0.7865      0.7865      0.7865
2      0.7865      0.7865      0.7865      0.7865
3      0.7865      0.7865      0.7865      0.7865
4      0.7865      0.7865      0.7865      0.7865

[5 rows x 62 columns]
minuteIntensitiesNarrow


           Id         ActivityMinute  Intensity
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366  3/12/2016 12:01:00 AM          0
2  1503960366  3/12/2016 12:02:00 AM          0
3  1503960366  3/12/2016 12:03:00 AM          0
4  1503960366  3/12/2016 12:04:00 AM          0
minuteIntensitiesWide


           Id           ActivityHour  Intensity00  Intensity01  Intensity02  \
0  1503960366  4/13/2016 12:00:00 AM            1            1            0
1  1503960366   4/13/2016 1:00:00 AM            0            0            0
2  1503960366   4/13/2016 2:00:00 AM            0            0            0
3  1503960366   4/13/2016 3:00:00 AM            0            0            0
4  1503960366   4/13/2016 4:00:00 AM            0            0            0

   Intensity03  Intensity04  Intensity05  Intensity06  Intensity07  ...  \
0            0            0            1            0            1  ...
1            0            0            0            0            0  ...
2            0            0            0            0            0  ...
3            0            0            0            0            0  ...
4            0            0            0            0            0  ...

   Intensity50  Intensity51  Intensity52  Intensity53  Intensity54  \
0            0            1            1            0            1
1            0            0            0            0            0
2            0            0            0            0            0
3            0            0            0            0            0
4            0            0            0            0            0

   Intensity55  Intensity56  Intensity57  Intensity58  Intensity59
0            1            0            0            0            0
1            0            0            0            0            0
2            0            0            0            0            0
3            0            0            0            0            0
4            0            0            0            0            0

[5 rows x 62 columns]
minuteMETsNarrow


           Id         ActivityMinute  METs
0  1503960366  3/12/2016 12:00:00 AM    10
1  1503960366  3/12/2016 12:01:00 AM    10
2  1503960366  3/12/2016 12:02:00 AM    10
3  1503960366  3/12/2016 12:03:00 AM    10
4  1503960366  3/12/2016 12:04:00 AM    10
minuteSleep


           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637
minuteStepsNarrow


           Id         ActivityMinute  Steps
0  1503960366  3/12/2016 12:00:00 AM      0
1  1503960366  3/12/2016 12:01:00 AM      0
2  1503960366  3/12/2016 12:02:00 AM      0
3  1503960366  3/12/2016 12:03:00 AM      0
4  1503960366  3/12/2016 12:04:00 AM      0
minuteStepsWide


           Id           ActivityHour  Steps00  Steps01  Steps02  Steps03  \
0  1503960366  4/13/2016 12:00:00 AM        4       16        0        0
1  1503960366   4/13/2016 1:00:00 AM        0        0        0        0
2  1503960366   4/13/2016 2:00:00 AM        0        0        0        0
3  1503960366   4/13/2016 3:00:00 AM        0        0        0        0
4  1503960366   4/13/2016 4:00:00 AM        0        0        0        0

   Steps04  Steps05  Steps06  Steps07  ...  Steps50  Steps51  Steps52  \
0        0        9        0       17  ...        0        9        8
1        0        0        0        0  ...        0        0        0
2        0        0        0        0  ...        0        0        0
3        0        0        0        0  ...        0        0        0
4        0        0        0        0  ...        0        0        0

   Steps53  Steps54  Steps55  Steps56  Steps57  Steps58  Steps59
0        0       20        1        0        0        0        0
1        0        0        0        0        0        0        0
2        0        0        0        0        0        0        0
3        0        0        0        0        0        0        0
4        0        0        0        0        0        0        0

[5 rows x 62 columns]
sleepDay


           Id               SleepDay  TotalSleepRecords  TotalMinutesAsleep  \
0  1503960366  4/12/2016 12:00:00 AM                  1                 327
1  1503960366  4/13/2016 12:00:00 AM                  2                 384
2  1503960366  4/15/2016 12:00:00 AM                  1                 412
3  1503960366  4/16/2016 12:00:00 AM                  2                 340
4  1503960366  4/17/2016 12:00:00 AM                  1                 700

   TotalTimeInBed
0             346
1             407
2             442
3             367
4             712
weightLogInfo


           Id                  Date    WeightKg  WeightPounds   Fat  \
0  1503960366  4/5/2016 11:59:59 PM   53.299999    117.506384  22.0
1  1927972279  4/10/2016 6:33:26 PM  129.600006    285.719105   NaN
2  2347167796  4/3/2016 11:59:59 PM   63.400002    139.773078  10.0
3  2873212765  4/6/2016 11:59:59 PM   56.700001    125.002104   NaN
4  2873212765  4/7/2016 11:59:59 PM   57.200001    126.104416   NaN

         BMI  IsManualReport          LogId
0  22.969999            True  1459900799000
1  46.169998           False  1460313206000
2  24.770000            True  1459727999000
3  21.450001            True  1459987199000
4  21.650000            True  1460073599000

In [44]:
daily_activity = data['dailyActivity']
daily_calories = data['hourlyCalories']
daily_intensity = data['hourlyIntensities']
daily_weight = data['weightLogInfo']

2026-01-08 15:14:48,628 - INFO     - Executing shutdown due to inactivity...
2026-01-08 15:14:48,894 - INFO     - Executing shutdown...
2026-01-08 15:14:48,894 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer